body {
    background-color: #F5F7F8;
}

#home_div {
    margin: 30px
}

h2 {
    padding: 8px 0px;
    border-bottom: #482121 2px solid;
    font-weight: bold;
}

#title {
    width: 65%
}

h4 {
    margin: 0px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 20px;
}

h5 {
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 25px;
}

h6 {
    font-weight: bold;
}

.row {
    padding-right: 0px;
}

#dropdown, #model_input_col {
    display: flex;
    align-items: center;
    text-align: center;
}

#dropdown {
    width:30%;
    display: flex;
    justify-content: right;
}

#hist_dd {
    width: 65%;
    display: inline-block;
    justify-content: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.09)
}

.Select.is-focused:not(.is-open) > .Select-control {
    border: none;
}

#dropdown_text {
    margin-right: 20px;
    margin-bottom: 0px;
}

.card {
    width: 45%;
    background-color: #F5F7F8;
    margin: 12px;
    border: 0px
}

#hist_graph_card {
    width: 60%
}

#subtitles_stats_col {
    padding-left: 30px
}

#stats_col_test, #stats_col_descriptive {
    width: 15%;
}

#stats_row {
    display: flex;
    align-items: flex-start;
}

#model_input_col {
    flex-direction: column;
    justify-content: center;
}

#perimeter_input, #perimeter_button {
    height: 30px;
    width: 80%;
    margin: 0px;
    padding: 0px;
}

#perimeter_input {
    text-align: center;
    padding: 1px;
    margin-bottom: 11px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.09)
}

.dash-input::placeholder {
    font-family: 'Segoe UI';
    font-size: 14px;
}

#perimeter_button {
    background-color: #47A992;
    font-size: small;
    font-weight: bold;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.09)
}

#hist_dd, #perimeter_input {
    border: black 2px solid;
    border-radius: 6px;
    font-family: 'Segoe UI';
}

#model_p, #diagnosis_p {
    padding: 28px 0px;
    margin: 0px
}

#diagnosis_col {
    display: flex;
    align-items: center;
    justify-content: center;
}

#diagnosis_p {
    display: flex;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.column-header-name, .dash-cell-value, .dash-filter {
    font-family: 'Segoe UI';
    font-size: small;
}

.column-header-name {
    font-weight: bold;
}

.current-page, .last-page {
    font-family: 'Segoe UI';
}